#colorblue{
    color: blue;
}

#coloryellow{
    color: yellow;
}

#colorgreen{
    color: green;
}

select{
    background-color: gray;
<<<<<<< HEAD
}

img{
    width: 1280px;
    height: 720px;
=======
>>>>>>> 797db977bf10f25d4eb7575a7559f3080987958e
}